.mail-menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 70px;
    background-color: var(--mail-side-menu);
    z-index: 1;
    align-content: center;
    align-items: center;
}

.mail-menu-container:hover {
    transition: all 500ms;
    width: 200px;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
}

.mail-menu-container:hover .mail-categories button {
    margin-inline: 0;
    margin-inline-end: 10px;
    padding-inline-start: 10px;
}

.mail-menu-container:hover .compose-mail {
    width: 80%;
}

.mail-menu-container:hover .selected {
    border-radius: 0 50px 50px 0;
    font-family: roboto-bold;
}

.mail-menu-container:hover .unselected {
    border-radius: 0 50px 50px 0;
}

.mail-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mail-categories button {
    position: relative;
    height: 50px;
    margin-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    padding-inline-end: 20px;
}

.mail-categories button img {
    filter: hue-rotate(180deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
}

.mail-categories button:hover {
    background-color: var(--hover-color);
}

.mail-menu-container:hover .mail-categories img {
    left: 20%;
}

.compose-mail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--compose-mail-bg-color);
    border-radius: 20px;
    margin-block-end: 50px;
    margin-block-start: 10px;
}

.compose-mail:hover {
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    background-color: var(--compose-mail-bg-color);
}

.compose-mail img {
    height: 30px;
    width: 30px;
}

.mail-menu-container:hover .compose-mail::after {
    content: 'Compose';
    font-size: 1rem;
    font-family: roboto-bold;
    margin-inline-start: 5px;
}

.mail-menu-container:hover .mail-categories button::after {
    content: '';
    font-size: 1rem;
    margin-inline-start: 10px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.mail-menu-container:hover .mail-categories .mail-inbox::after {
    content: 'Inbox';
}

.mail-menu-container:hover .mail-categories .mail-star::after {
    content: 'Starred';
}

.mail-menu-container:hover .mail-categories .mail-sent::after {
    content: 'Sent';
}

.mail-menu-container:hover .mail-categories .mail-draft::after {
    content: 'Draft';
}

.mail-menu-container:hover .mail-categories .mail-trash::after {
    content: 'Trash';
}

.mail-categories .unread-count {
    display: none;
    font-size: 0;
}

.mail-menu-container:hover .mail-categories .unread-count {
    display: inline;
    font-family: roboto-bold;
    margin-inline-start: auto;
    font-size: 1rem;
}

.mail-menu-container:hover .compose-mail {
    width: 100%;
}

.mail-compose {
    background-color: var(--unshown-mail-bg-color);
    position: fixed;
    bottom: 0;
    right: 10%;
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.mail-compose form input {
    width: 80%;
    padding: 5px;
    flex-grow: 1;
    border: none;
    padding: 10px;
}

.form-to,
.form-subject {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    color: darkgray;
}

.mail-compose .mail-compose-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: var(--compose-mail-bg-color);
    height: 5vh;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.mail-compose-header span {
    margin-inline-start: 10px;
    font-family: roboto-bold;
}

.mail-compose-header img {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mail-compose textarea {
    padding: 10px;
    border: none;
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 1rem;
    font-family: roboto;
}

.mail-compose textarea:focus,
input:focus {
    outline: none;
}

.mail-compose .form-btns {
    display: flex;
    justify-content: space-between;
}

.mail-compose .form-send-btn {
    background-color: #297be6;
    padding-inline: 20px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: roboto-bold;
    border-radius: 25px;
    position: relative;
    bottom: 15px;
    left: 15px;
    transition: 0.1s;
}

.mail-compose button:hover {
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
}

.mail-compose .form-trash-btn {
    width: 50px;
    position: relative;
    bottom: 15px;
    right: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
}

@media (min-width: 650px) {
    .mail-compose {
        width: 50%;
    }
}

@media (min-width: 980px) {
    .mail-compose {
        width: 40%;
    }
}
