.mails-list-container {
    width: 100%;
    margin-inline-start: 70px;
}

table {
    width: 100%;
    table-layout: fixed;
    background-color: var(--unshown-mail-bg-color);
    padding: 0;
    margin: 0;
    border-block-start: 1px var(--details-border-color) solid;
    padding-inline-end: 10px;
}

.mail-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-block: 10px;
    padding-inline-start: 20px;
    background-color: var(--mail-side-menu);
    border-block-start: 1px var(--details-border-color) solid;
}

.mail-filter > * {
    margin-inline-end: 20px;
    font-size: 1rem;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 25px;
    border: 1px solid var(--details-border-color);
    background-color: transparent;
}

.mail-filter .filter-read {
    flex: 0 0 auto;
}

.mail-filter button {
    flex: 1;
    flex-basis: 0;
}

.mail-preview {
    position: relative;
    overflow-x: auto;
    height: 100%;
    display: flex;
    padding-block: 0.5rem;
    border-block-end: 1px var(--mail-side-menu) solid;
}

.mail-preview:hover {
    z-index: 1;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    cursor: pointer;
}

.mail-preview button {
    margin-block: 0;
    padding-block: 0;
    background-color: transparent;
}

.mail-preview button:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}

.mail-actions {
    justify-content: space-between;
    margin-inline-end: 10px;
}

.mail-preview .mail-actions button {
    margin-inline-start: 15px;
    width: 15px;
    padding: 0;
}

.mail-preview .mail-actions img {
    width: 100%;
}

.mail-from {
    margin-inline-end: 20px;
    width: 150px;
    min-width: 70px;
}

.mail-subject {
    flex-basis: 10%;
    white-space: nowrap;
    width: 150px;
    min-width: 70px;
    margin-inline-end: 20px;
}

.mail-body {
    flex-basis: 80%;
    margin-inline-end: 20px;
}

.mail-date {
    white-space: nowrap;
    width: auto;
}

.mail-star button {
    margin-inline: 10px;
}

.mail-star button:hover {
    background-color: transparent;
}

.unread {
    font-family: roboto-bold;
    background-color: var(--unshown-mail-bg-color);
}

.read {
    font-family: roboto;
    background-color: var(--shown-mail-bg-color);
}

@media (max-width: 600px) {
    .mail-filter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .mail-filter .filter-read {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .mail-filter button {
        grid-row: 2;
        margin: 0;
    }
}

@media (max-width: 500px) {
    .mails-list-container {
        margin-inline-start: 50px;
    }

    .mail-list .mail-body {
        display: none;
    }

    .mail-list .mail-star {
        flex-basis: 10%;
    }

    .mail-list .mail-from {
        flex-basis: 20%;
    }

    .mail-list .mail-subject {
        flex-basis: 50%;
    }
    .mail-list .mail-date {
        flex-basis: 20%;
    }
}

@media (max-width: 380px) {
    .mails-list-container {
        /* font-size: 0.8rem; */
    }
    .mail-filter > * {
        /* font-size: 0.8rem; */
        padding: 0;
        padding-block: 3px;
        padding-inline: 5px;
    }

    .mail-list .mail-from {
        display: none;
    }
}
