.mails-list-container {
    width: 100%;
    margin-inline-start: 100px;
}

table {
    width: 100%;
    table-layout: fixed;
    background-color: var(--unshown-mail-bg-color);
}

.mail-filter {
    margin-block: 10px;
    margin-inline-start: 20px;
}

.mail-preview {
    overflow-x: auto;
    height: 100%;
    display: flex;
    padding-block: 0.5rem;
    border-block-end: 1px lightgray solid;
}

.mail-preview img {
    width: 20px;
}

.mail-preview button {
    margin-block: 0;
    padding-block: 0;
}

.mail-preview button:hover {
    background-color: lightgray;
}

.mail-actions {
    justify-content: space-between;
    margin-inline-end: 10px;
}

.mail-actions button {
    margin-inline-start: 10px;
}

.mail-preview:hover {
    box-shadow: 0px 3px 5px 0px #000;
    cursor: pointer;
}

.mail-subject {
    flex-basis: 10%;
    white-space: nowrap;
    min-width: 100px;
    margin-inline-end: 50px;
}

.mail-body {
    flex-basis: 80%;
}

.mail-date {
    white-space: nowrap;
    width: auto;
}

.unread {
    font-family: roboto-bold;
    background-color: var(--unshown-mail-bg-color);
}

.read {
    font-family: roboto;
    background-color: var(--shown-mail-bg-color);
}
