@media (max-width: 570px) {
    .note-list {
        column-count: 1;
    }

    .card-container {
        /* padding-left: 4%;    */
    }

    .keep-content {
        padding-left: 40px;
    }

    .keep-menu {
        transform: translateX(-100%);
    }
    .menu-btns{
        font-size: 1em;
    }

    .card {
        max-width: 360px;
        width: 360px;
    }

    .search-btn {
        padding-right: 20px;
    }

    .nav-container {
        padding-right: 23px;
    }

    .keep-content {
        padding: 20px;
        padding-left: 30px;
    }

    .menu-btn {
        padding: 0;
        padding-left: 10px;
    }

    .icon {
        padding: 0;
        margin: 0;
    }

    .home {
        padding-right: 0;
    }

    .icon-img {
        min-width: 55px;
        width: 70px;
    }

    .keep-header {
        padding-left: 0;
    }

    .mail {
        width: 55px;

    }

    .book-icon {
        font-size: 3.4rem;
    }

    .main-footer {
        padding-inline-end: 0px;
    }

    :root {
        --layout-padding: 0px
    }

}

@media (min-width: 570px) {
    .note-list {
        column-count: 2;
    }
}

@media (min-width: 840px) {
    .note-list {
        column-count: 3;
    }
}

@media (min-width: 920px) {
    .note-list {
        column-count: 4;
    }
}