:root {
    --book-clr1: rgb(91, 96, 107);
    --book-clr2: rgb(99, 103, 120);

    --book-clr1bg: rgb(141, 155, 179);
    --book-clr1bg-light: rgb(200, 205, 221);
    --book-clr2bg: rgb(206, 217, 233);
    --book-clr2bg-light: rgb(185, 212, 247);

    --book-gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
}
