.add-container {

    display: flex;
    justify-content: center;
    width: 100%;

}

.add-box {
    margin-top: 15px;
    margin-bottom: 35px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0px 3px 6px;
    border-radius: 0.5em;
    padding: 10px;
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    height: 45px;
    font-weight: 500;
    font-size: 1.2em;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.add-btns {
   min-width: 120px;
   width: 120px;
    align-self: center;
    z-index: 3;
}

.empty-box{
    color:var(--clr4);
    padding: 7px;
    font-size: 0.7em;
}

.add-btn {
    font-size: 1em;
    margin: 0.2em;
}
.add-btn-list{
    width: 30px;
}

textarea{
    resize: none;
}

.text-box {
    outline: none;
    border-radius: 0.5em;
    padding: 10px;
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    height: 45px;
    border: 0;

}

.open-add-box {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
}

.add-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 80px;
}

.list-form{
    display: grid;
    grid-template-columns: 1fr;

}

.title-input {
    grid-row: 1;
    grid-column: 1;
    width: max-content;

}

.img-icon {

    height: 20px;
    padding: 0;
    border-radius: 50%;
}

.pin-btn {
    grid-row: 1;
    grid-column: 1;
    padding: 2px;
    height: max-content;
    justify-self: end;
}

.add-btn {
    grid-row: 3;
    justify-self: end;
    padding: 0;
    height: max-content;
    align-self: center;
    width: 23px;
}

.list-item{
    border: 0;
    padding: 5px;
    border-radius: 0.3em;
    position: relative;
}

.list-item:hover{
    background-color: var(--clr1);
}