.keep-header {
    /* background-color: var(--yellow3); */
    color: var(--clr4);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 0.9em;
    align-items: center;
    border-bottom: 1.5px solid var(--clr2);
    height: 65px;
    cursor: pointer;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 5px;
    /* margin-right: auto; */
    justify-self: flex-end;
}

.left-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-menu {
    display: flex;
}

.icon {
    width: 60px;
    cursor: pointer;
}

.app-nav {
    align-self: center;
    display: flex;
    gap: 15px;
}

.app-nav a {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: inherit;
    color: var(--clr3);
}

.app-nav a:hover {
    color: var(--clr3);
}

.menu-btn {
    /* visibility: hidden; */
    /* z-index: 5; */
    right: 25px;
    /* position: fixed; */
    justify-self: center;
    color: var(--clr2bg-light);
    font-size: 1.2em;
}

.btn-opt {
    font-size: 1.2em;
    justify-self: flex-end;
    height: max-content;
    margin: 0;
}

.app-title {
    font-size: 1.7em;

}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: end;

}

.keep-icons {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.gmaill {
    padding: 0;
    margin-bottom: 1px;
    margin-right: 3px;
}

.gmaill-img {
    min-width: 20px;
    width: 23px;
    padding: 0;
}

.keeper-nav {
    padding: 0;
    margin: 0;
}

.search-btn{
    padding-right: 50px;
}