.book-add-review {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 10px;
    border: 2px solid var(--book-clr2);
    min-width: 360px;
    margin-bottom: 20px;
}

.book-item-input {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.book-save-btn {
    margin-left: 40%;
}
