.btn {
    cursor: pointer;
    color: var(--clr4);
    background: inherit;
    margin: 0.5em;
    border: 0;
    padding: 0.5em;
    border-radius: 50%;
}

.btn:hover {
    background-color: var(--clr1);
    /* transition: .3s; */
}

input:focus {
    border: 0;
    background-color: var(--clr1);
    transition: background-color 1s;
    outline: none;
}


a {
    cursor: pointer;
    /* background-color: var(--clr2bg); */
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;


}

a:hover {

    color: var(--clr3);
    transition: .6s;
}

